body {
    padding: 0;
}

.appContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    max-height: 100vh;
    padding: 32px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input {
    min-height: 32px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 12pt;
    color: white;
    background-color: darkslategray;
    transition: opacity;
    transition-duration: 100ms;
}

button:hover:not(.inActive) {
    opacity: .8;
}

.startButton {
    background-color: darkgreen;
}

.endStdinButton {
    background-color: darkgoldenrod;
}

.killButton {
    background-color: darkred;
}

.inActive {
    background-color: dimgray;
    transition: none;
}

.outputScrollContainer {
    overflow: scroll;
}

.outputContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.outputInfo {
    background-color: whitesmoke;
    padding: 5px;
    font-size: small;
}